[flake8]
ignore = F403, F401, F405, 
exclude =
    .git,
    __pycache__,
    .venv
filename = *.py
accept-encodings = utf-8
max-line-length = 119
max-linenumber = 500
max-complexity = 12
inline-quotes = single
multiline-quotes = double